[Desktop Entry]
Type=Application
Version=1.0
Name=Install Genesi OS
GenericName=System Installer
Keywords=calamares;system;installer;
TryExec=calamares
Exec=pkexec calamares
Comment=Install and configure Genesi OS
Icon=calamares
Terminal=false
StartupNotify=true
Categories=Qt;System;
X-AppStream-Ignore=true
